@model InspectV2.ViewModels.RiverNewsViewModel
@{
    ViewBag.Title = "River";
}

<div class="container section_space news_state">
    <div class="row">
        <div class="col-sm-12">
            <h2>All News</h2>
        </div>
    </div>
</div>


<div class="container section_space">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                @foreach (var news in Model.News)
                {
                    <div class="row mt-4">
                        <div class="col-md-1 river-time">@news.Created_at.ToString("MMM dd h:mm tt")</div>
                        <div class="col-md-11">
                            <li class="eachRiver">
                                <a href="newsdetails/@news.Id">
                                    @news.Title
                                </a>
                            </li>
                        </div>
                    </div>
                }
            </ul>
        </div>
    </div>
</div>



<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h3>TechHappens</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>





