.containsAdminSignInForm .row,
.containsAdminSignInForm .row .col-sm-12 {
    height: 100%
}

.containsAdminSignInForm .holdsForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 160px
}

.containsAdminSignInForm form input,
.containsAdminSignInForm form .btn {
    width: 280px;
}

@media(max-width: 767px) {
    .containsAdminSignInForm .holdsForm {
        box-shadow: none;
        padding: 0px
    }
}


/* news */

.navbar {
    background: white !important;
    padding: 0px !important;
}

.navbar-brand img {
    height: 60px;
}

.nav-item {
    margin-right: 1rem;
    border: 1px solid black;
}

.nav-item a:link {
    color: black !important;
}

.contains_table {
    /* margin: 20px; */
}

@media(max-width: 768px) {
    .nav-item {
        margin-right: 1rem;
        border: none;
    }
    .contains_table {
        margin: 0px;
    }
    th,
    td {
        font-size: 10px;
    }
    td .form-inline .btn {
        font-size: 10px;
        margin-bottom: 2px;
    }
}