
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container section_space">
    <div class="row">
        <div class="col-md-7">
            <h1 style="display: inline-block; border-bottom:2px solid #1e1d1d">Job Posts</h1>
            <br><br>
            <div class="card">
                <div class="card-header">
                    NewsCred
                </div>
                <div class="card-body">
                    <p class="posiiton">
                        <strong style="text-decoration: underline"> Position:</strong> Inbound Product Manager
                    </p>
                    <p class="deadline">
                        <strong style="text-decoration: underline"> Application Deadline:</strong> 8th Sep, 2019
                    </p>
                    <p class="requirements-header">
                        <strong style="text-decoration: underline">Requirements:</strong>
                    </p>
                    <ul class="requirements">
                        <li>
                            Work with designers and engineers to conceptualize and document new features and
                            products.
                        </li>
                        <li>
                            Organize and lead cross-functional agile software development teams.
                        </li>
                        <li>Moderate ideation of new products and features.</li>
                        <li>Contribute to strategic decisions with the product and executive teams.</li>
                        <li>
                            Provide support to NewsCred's sales & marketing teams during new business development,
                            client support challenges and creation of product marketing collateral.
                        </li>
                        <li>
                            Measure adoption of capabilities across its lifecycle from concept to launch to maturity
                        </li>
                        <li>
                            Give and solicit feedback from other team members with the aim of producing the highest
                            quality work.
                        </li>
                        <li>
                            Academic background in Engineering, Computer Science, Electrical/Computer Engineering or
                            a related field (or substantial relevant experience).
                        </li>
                        <li>Minimum of 3-5 years in product management.</li>
                        <li>Proven expertise in Agile software development processes.</li>
                    </ul>

                    <span>
                        <a href="https://www.newscred.com/careers/?gh_jid=1651744">
                            <button type="button"
                                    class="btn btn-outline-dark">
                                Details
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    bKash
                </div>
                <div class="card-body">
                    <p class="posiiton">
                        <strong style="text-decoration: underline"> Position:</strong> Quality Assurance, Technology
                    </p>
                    <p class="deadline">
                        <strong style="text-decoration: underline"> Application Deadline:</strong> 24th Sep, 2019
                    </p>
                    <p class="requirements-header">
                        <strong style="text-decoration: underline">Requirements:</strong>
                    </p>
                    <ul class="requirements">
                        <li>
                            Responsible for the quality assurance of bKash products and systems, include Android/iOS
                            APP, web APIs, server side applications.
                        </li>
                        <li>
                            Make project test plan, manage project quality risk.
                        </li>
                        <li>Participate in testing tools and platform development and maintenance.</li>
                    </ul>

                    <span>
                        <a href="https://www.linkedin.com/jobs/view/1506008542/">
                            <button type="button"
                                    class="btn btn-outline-dark">
                                Details
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Grameenphone Ltd Company Location
                </div>
                <div class="card-body">
                    <p class="posiiton">
                        <strong style="text-decoration: underline"> Position:</strong> UX/ UI Designer
                    </p>
                    <p class="deadline">
                        <strong style="text-decoration: underline"> Application Deadline:</strong> September 22,
                        2019
                    </p>
                    <p class="requirements-header">
                        <strong style="text-decoration: underline">Requirements:</strong>
                    </p>
                    <ul class="requirements">
                        <li>
                            A portfolio that showcases a strong understanding of design, color and typography
                        </li>
                        <li>
                            An ability to translate complex systems, data and ideas related to human-centered design
                            through visuals, typography, and information graphics
                        </li>
                        <li>Comfort sketching to synthesize ideas during research, prototyping, or workshops</li>
                        <li>
                            An ability to assimilate feedback at all stages of a project and refine design concepts
                            to create production-ready artwork for print and digital mediums
                        </li>
                        <li>
                            An ability to work well in teams with members of diverse backgrounds beyond design
                        </li>
                    </ul>

                    <span>
                        <a href="https://www.linkedin.com/jobs/view/1481746984/">
                            <button type="button"
                                    class="btn btn-outline-dark">
                                Details
                            </button>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h1 style="display: inline-block; border-bottom:2px solid #1e1d1d">Sponsored Post</h1>
            <br><br>
            <div class="sponsored_post">
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-1.png" alt="">
                    <br><br>
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Software Engineering or Site Reliability Engineering Intern, 2020</h5>
                    </a>
                    <p class="deadline">
                        <strong style="text-decoration: underline"> Application Deadline:</strong> 1 Oct,
                        2019

                    </p>
                    <span>
                        <a href="https://careers.google.com/jobs/results/109121100807316166-software-engineering-or-site-reliability-engineering-intern-2020/?category=DATA_CENTER_OPERATIONS&category=DEVELOPER_RELATIONS&category=HARDWARE_ENGINEERING&category=INFORMATION_TECHNOLOGY&category=MANUFACTURING_SUPPLY_CHAIN&category=NETWORK_ENGINEERING&category=PRODUCT_MANAGEMENT&category=PROGRAM_MANAGEMENT&category=SOFTWARE_ENGINEERING&category=TECHNICAL_INFRASTRUCTURE_ENGINEERING&category=TECHNICAL_SOLUTIONS&category=TECHNICAL_WRITING&category=USER_EXPERIENCE&company=Google&company=YouTube&employment_type=INTERN&jex=ENTRY_LEVEL">
                            <button style="padding:2px 5px" type="button"
                                    class="btn btn-outline-dark">
                                Details
                            </button>
                        </a>
                    </span>
                    <hr>
                </div>
                <!-- 2nds -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-2.png" alt="">
                    <br><br>
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Product development and product management</h5>
                    </a>
                    <p class="deadline">
                        <strong style="text-decoration: underline"> Application Deadline:</strong> 17 Oct,
                        2019
                    </p>
                    <span>
                        <a href="https://www.adobe.com/careers/engineering.html">
                            <button style="padding:2px 5px"
                                    type="button" class="btn btn-outline-dark">
                                Details
                            </button>
                        </a>
                    </span>
                    <hr>
                </div>

                <!-- 3rd -->
                <div class="each_sponsor">
                    <img src="~/Content/images/logo-3.png" alt="">
                    <br><br>
                    <a class="sponsor_link_home" href="news_details.html">
                        <h5>Machine Learning Engineer</h5>
                    </a>
                    <p class="deadline">
                        <strong style="text-decoration: underline"> Application Deadline:</strong> 21 Oct,
                        2019
                    </p>
                    <span>
                        <a href="https://jobs.apple.com/en-us/details/200029136/machine-learning-engineer?team=MLAI">
                            <button style="padding:2px 5px" type="button"
                                    class="btn btn-outline-dark">
                                Details
                            </button>
                        </a>
                    </span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>











<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h1>Inspect</h1>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>







<!-- Optional JavaScript -->
<script src="~/js/particles.js"></script>
<script src="~/js/app.js"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="~/js/controlModal.js"></script>

<script>

</script>

