@model IEnumerable<InspectV2.Models.Event>
@{
    ViewBag.Title = "Events";
}

<div class="container section_space news_state">
    <div class="row">
        <div class="col-sm-12">
            <h2>Tech Events</h2>
            <span>
                <a href="@Url.Action("Create", "Event")" class="btn btn-outline-dark float-right">Create Event</a>
            </span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 allEvents">
            <div class="eachEvent mt-3">
                <div class="date"><strong>Date</strong></div>
                <div class="company ml-5"><strong>Company</strong></div>
                <div class="place"><strong>Location</strong></div>
            </div>
            @foreach (var Event in Model)
            {
                <div class="eachEvent mt-3" onclick="location.href='/Event/Details/@Event.Id'" style="cursor: pointer;">
                    <div class="date"><a href="#">@Event.EventDate.ToString("MMM dd, yyy")</a></div>
                    <div class="company"><a href="#">@Event.Company</a></div>
                    <div class="place"><a href="#">@Event.Location</a></div>
                </div>
            }
        </div>
    </div>
</div>

<div id="particles-js" class="section_space text-center">
    <div class="Contact_info">
        <h3>TechHappens</h3>
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>
